<li>
    <div class="m-top-gen-tit">{{~genTitle~}}</div>
    <div class="m-oneTop" style="background-image: url('{{~img~}}}')">
        <div class="m-oneTop-lank">1</div>
        <div class="m-oneTop-t">
            <span>{{~title~}}</span>
            <br>{{~gen~}}<br>
            <a href="#" class="m-oneTop-w">{{~name~}}</a></div>
    </div>
    <ul class="m-toplank">
        <li>
            <div class="m-toplank-no">2</div>
            <div class="m-toplank-name">
                <div class="m-toplank-name-t"><span>{{~title2~}}</span>
                    <br>{{~gen2~}}
                </div>
                <div class="m-toplank-name-img" style="background-image: url('{{~img2~}}')"></div>
            </div>
        </li>
        <li>
            <div class="m-toplank-no">3</div>
            <div class="m-toplank-name">
                <div class="m-toplank-name-t"><span>{{~title3~}}</span>
                    <br>{{~gen3~}}
                </div>
                <div class="m-toplank-name-img" style="background-image: url('{{~img3~}}')"></div>
            </div>
        </li>
        <li>
            <div class="m-toplank-no">4</div>
            <div class="m-toplank-name">
                <div class="m-toplank-name-t"><span>{{~title4~}}</span>
                    <br>{{~gen4~}}
                </div>
                <div class="m-toplank-name-img" style="background-image: url('{{~img4~}}')"></div>
            </div>
        </li>
        <li>
            <div class="m-toplank-no">5</div>
            <div class="m-toplank-name">
                <div class="m-toplank-name-t"><span>{{~title5~}}</span>
                    <br>{{~gen5~}}
                </div>
                <div class="m-toplank-name-img" style="background-image: url('{{~img5~}}')"></div>
            </div>
        </li>
    </ul>
</li>